

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    color: var(--text-color-dark);
}
h1, h2, h3, h4, h5, h6,
p, li, span {
    color: var(--text-color-dark);
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

button, input {
  font-family: inherit;
}

:root {
  /* Text sizes */
  /* 1 rem = 16px since it is relative to the html base, which is 16px by default */
  --text-size-xs: 0.75rem; /* 12px */
  --text-size-sm: 0.875rem; /* 14px */
  --text-size-md: 1rem; /* 16px */
  --text-size-lg: 1.5rem; /* 24px */
  --text-size-xl: 2rem; /* 32px */
  --text-size-3xl: 3rem; /* 48px */
  --text-size-4xl: 4.5rem; /* 72px */

  --padding-sm: 0.25rem;
  --padding-md: 0.5rem;
  --padding-lg: 1rem;

  /* Font weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --border-radius-s: 0.25rem;
  --border-radius-m: 0.5rem;
  --border-radius-lg: 1rem;
  --border-radius-pill: 50rem;

  /* Colors */
  --text-color-dark: #1F2937;
  --text-color-light: #F9FAF8;
  --text-muted-light: #cccccc;

  --color-btn-primary: #3882F6;
  --color-btn-primary-hover: #296ddb;
  --color-btn-primary-text: #fff;
  --color-btn-primary-border: #ffffff00;

  --color-btn-secondary: #F3F4F6;
  --color-btn-secondary-hover: #d0d1d1;
  --color-btn-secondary-text: #1F2937;
  --color-btn-secondary-border: #000;

  --color-bg-primary: #1F2937;
  --color-bg-section: #E5E7EB;
  --color-bg-alt: #ffffff;
}