{% extends "layout.html" %}


{% block content %}

<div>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, msg in messages %}
        <div class="flash" role="alert">
          {{ msg }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}



  <div>
   <form action="{{url_for ('guess')}}" method="post">             <!--kanske behöver ändras beroende på vad route funktionen heter -->
    {{ form.hidden_tag() }}

    <div>
      <label >Make your guess: </label>
      {{ form.guess }}
    </div>
    
    
    {% if form.guess.errors %}
    
    <div >
        {% for error in form.guess.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}
    
    {{ form.submit }}
    
    <div>
      <span>Result: </span>
      {{result_list}}
    </div>


</form>

<table class="guess-grid">
  <tbody>
    {% for row in history %} <!--blir en lista med dict {"guess":user_guess, "result": result_list} -->
      <tr>
        {% for i in range(row.guess|length) %} <!-- länden på gissningen -->
          <td class="tile tile--{{ row.result[i] }}">{{ row.guess[i] }}</td> <!-- skriver ut ett ord i taget, använder en klass beroende på svaret t.ex tile tile-- "correct" -->
        {% endfor %}
      </tr>
    {% endfor %}

    {% set remaining = 6 - (history|length) %} <!-- sätter en variabel "remaining" som är 6 - längden på försök man har gjort -->
    {% for _ in range(remaining) %} <!-- loppar medans det finns försök kvar -->
      <tr>
        {% for _ in range(word.word|length) %} <!-- loopar längden på det korrekta ordet -->
          <td class="tile tile--empty"></td> <!-- en tom cell för varje bokstav-->
        {% endfor %}
      </tr>
    {% endfor %}

  </tbody>


</table>



</div>

{% endblock %}